{% extends 'catalog/base.html' %}


{% block content%}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">
                            Вход
                        </h2>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}


                        <button type="submit" class="btn btn-primary">Войти</button>
                        <a class="p-2 " href="{% url 'users:password_reset' %}">Забыли пароль?</a>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>


        </div>
    </form>
</div>

{% endblock %}