{% extends 'catalog/base.html' %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">
                <h1>Сброс пароля</h1>
            </div>
            <div class="card-body alert alert-success" class="" role="alert">

                <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
                <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}