{% extends 'catalog/base.html' %}}


{% block content%}


<div class="container py-3">
    <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">

        {% for item in news%}
            <div class="col ">
                <div class="card mb-4 box-shadow rounded-3">

                    <div class="card-header py-3 ">
                        <h4 class="my-0 font-weight-normal">{{item.name}}</h4>
                    </div>

                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{item.price}} ₱</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">

                            <li> {{item.description|truncatechars:50}}</li>
                            <hr>
                            <li>- Поддержка</li>
                            <li>- Установка на сервер</li>
                            <li>- {{ item.last_modified_date }}</li>
                        </ul>
                        <a href="product-{{item.pk}}" class="btn btn-lg btn-block btn-outline-primary">Купить</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

