{% extends 'blog/base.html' %}


{% block content%}
<div class="container  py-3">
    <div class="mb-5 ">
        <div class="text-center">

            <form method="post">
                {% csrf_token %}
                <H1>Вы хотите удалить "{{object.name}}" ?</H1>
                <br>
                <button class="btn btn-outline-danger">Удалить</button>
                <a class="btn btn-outline-warning" href="{% url 'catalog:list' %}">Отмена</a>
            </form>

        </div>
    </div>
</div>

{% endblock %}