{% extends 'catalog/base.html' %}}


{% block content%}


<div class="container py-3">
    <div class="mb-5">

        <a class="btn btn-success" href="{% url 'catalog:create' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                 viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
            Создать продукт</a>
    </div>

    <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
        {% for item in object_list %}
        <div class="col mb-4 box-shadow rounded-3">

            <div class="card h-100 ">

                <div class="card-header py-3 ">
                    <h4 class="my-0 font-weight-normal">
                        <div class="circle circle-lg ">

                            {% if item.photo%}

                            <!--                                                        <style>-->
                            <!--                                                            .card:hover {transform: scale(1.1);}-->
                            <!--                                                            .card {transition: transform 0.2s ease;}-->
                            <!--                                                        </style>-->

                            <div class="container card" style="width: 17rem;">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <img src="/media/{{ item.photo }}" class="rounded-circle z-depth-0 text-start "
                                             height="80px" width="80px">
                                    </div>
                                    <div class="col-auto">
                                        {{item.name}}
                                    </div>
                                </div>
                            </div>


                            {% else %}
                            <div class="container card" style="width: 17rem;">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <img src="/media/product/not_photo.png"
                                             class="rounded-circle z-depth-0 text-start "
                                             height="80px" width="80px">
                                    </div>
                                    <div class="col-auto">
                                        {{item.name}}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </h4>
                </div>

                <div class="card-body">
                    <div class="card-body-header">
                        <h1 class="card-title pricing-card-title">{{item.price}} ₱</h1>
                    </div>

                    <div class="card-body-body ">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li> {{item.description|truncatechars:50}}</li>


                        </ul>
                    </div>

                    <div class="col align-self-end">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <hr>
                            {% for version in item.version_set.all %}
                            {% if version.flag_current_version %}
                            <li>- Актуальная версия: <b>{{ version.version_name }}</b>
                                {% endif %}
                                {% endfor %}
                            </li>
                            <li>- Какой-то текст ыы.</li>
                        </ul>
                    </div>
                </div>


                <div class="col-auto py-3">
                    <a href="{% url 'catalog:product' item.pk %}"
                       class="btn btn-outline-primary btn-sm">Просмотр</a>
                    <a href="{% url 'catalog:update' item.pk %}"
                       class="btn btn-outline-secondary btn-sm">Изменить</a>
                    <a href="{% url 'catalog:delete' item.pk %}" class="btn btn-outline-danger btn-sm">Удалить</a>
                </div>


                <div class="card-footer">
                    <small class="text-muted">{{ item.date_create }}</small>
                </div>
            </div>
        </div>


        {% endfor %}
    </div>
</div>


{% endblock %}

