{% extends 'catalog/base.html' %}


{% block content%}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">
                            {% if object.date_create%}
                            Изменение продукта
                            {% else %}
                            Добавление продукта
                            {% endif %}
                        </h2>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}


                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>


            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">
                            Версия продукта
                        </h2>
                    </div>
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}

                        {{ form.as_p }}
                        {% if not formloop.last %}
                        <br>
                        {% endif %}

                        {% endfor %}
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}